<!DOCTYPE html>
<html style="height: 100%" ;>
  {% load i18n %}
  <body>
    <div>
      <h1>Digital Mobility Password Reset Request</h1>
      <span
        >Hello {{ fullname }}! There was a request to rest your password for
        Digital Mobility.</span
      >
      <span
        >If this was you then click the link below to reset your password. {%
        endblocktrans %}</span
      >
      <a href="https://www.digitalmobility.pl{{ reset_password_url }}"
        >Reset Password</a
      >
      If you did not make this request, simply ignore this mail. Digital
      Mobility team."
    </div>
  </body>
</html>
